{% extends 'app/header&footer.html' %}
{% load static %}
{% block main %}
{% include 'tutor/navbar.html' %}
<section class="std-profile d-flex flex-wrap">
    {% include 'tutor/tutor_tab.html' %} 
    <div class="tchRight">
        <div class="tchCourse">
            <div class="mt-3 mb-5">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="sc-breadcrump d-flex align-items-center bg-white">
                        <div class="mt-2">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a class="cl-pm text-decoration-none"
                                            href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a class="cl-pm text-decoration-none"
                                            href="#">Add Course</a>
                                    </li>
                                    <li class="breadcrumb-item active fw-bold" aria-current="page">{{course.course_title}}
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    {% comment %} <div>
                        <button class="bg-cl-grey3 cl-pm fw-bold px-3 py-2 border-0 rounded-3 me-2">Save As
                            Draft</button>
                        <button
                            class="bg-cl-green color-white fw-bold px-3 py-2 border-0 rounded-3">Publish</button>
                    </div> {% endcomment %}
                </div>
                <section class="tchAddCourse mt-3">
                    <form method="POST">
                        {% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}
                        {% if forloop.counter == 1 %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <div class="row">

                            <!-- Course add option start -->
                            <div class="col-xxl-7 col-xl-6 col-md-12 col-12">

                               

                                <!-- Add lesson start -->
                                <div class="addLesson">
                                    <h6 class="fw-bold mb-4">Add Quiz</h6>

                                     <!-- replace content 2 -->
                                        {% if quizes %}
                                        {% for q in quizes %}
                                        <div class=" block-createQuiz replaceContent2 ">
                                        
                                            <h5 class="fw-bold mb-4">Question</h5>
                                            <!-- Question  Start 1 -->
                                            <div class="quiz-qs1 mb-5">
                                                <div class="input-group mb-3">
                                                    <span
                                                        class="input-group-text bg-cl-pm text-white"
                                                        id="basic-addon1">Q{{forloop.counter}}</span>
                                                    <input type="text" class="form-control"
                                                        aria-label="Username"
                                                        aria-describedby="basic-addon1" name="question" value="{{q.question}}" readonly>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span
                                                        class="input-group-text bg-cl-pm text-white"
                                                        >Quiz Position</span>
                                                    <input type="number" class="form-control"
                                                        name="question" value="{{q.quiz_position}}" readonly>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-6 col-12">
                                                        <div class="input-group mb-3">
                                                            <span
                                                                class="input-group-text bg-cl-pm text-white"
                                                                id="basic-addon1">A</span>
                                                            <input type="text"
                                                                class="form-control"
                                                                aria-label="Username"
                                                                aria-describedby="basic-addon1" name="option1" value="{{q.option.0}}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-12">
                                                        <div class="input-group mb-3">
                                                            <span
                                                                class="input-group-text bg-cl-pm text-white"
                                                                id="basic-addon1">B</span>
                                                            <input type="text"
                                                                class="form-control"
                                                                aria-label="Username"
                                                                aria-describedby="basic-addon1" name="option2" value="{{q.option.1}}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-12">
                                                        <div class="input-group mb-3">
                                                            <span
                                                                class="input-group-text bg-cl-pm text-white"
                                                                id="basic-addon1">C</span>
                                                            <input type="text"
                                                                class="form-control"
                                                                aria-label="Username"
                                                                aria-describedby="basic-addon1" name="option3" value="{{q.option.2}}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-12">
                                                        <div class="input-group mb-3">
                                                            <span
                                                                class="input-group-text bg-cl-pm text-white"
                                                                id="basic-addon1">D</span>
                                                            <input type="text"
                                                                class="form-control"
                                                                aria-label="Username"
                                                                aria-describedby="basic-addon1" name="option4" value="{{q.option.3}}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-12">
                                                        <label for="exampleInputEmail1"
                                                            class="form-label">Select Correct
                                                            Answer</label>
                                                        <select class="form-select mb-3"
                                                            aria-label="Default select example" name="correct" readonly>
                                                            <option value="0" {% if q.correct_answer == 0 %}selected{% endif %}>A</option>
                                                            <option value="1" {% if q.correct_answer == 1 %}selected{% endif %}>B</option>
                                                            <option value="2" {% if q.correct_answer == 2 %}selected{% endif %}>C</option>
                                                            <option value="3" {% if q.correct_answer == 3 %}selected{% endif %}>D</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xl-6 col-12 mt-4 ">
                                                        <a
                                                            class="bg-cl-green text-white px-3 py-2 me-3 mb-2 border-0 rounded-3 " href="{% url 'tutor:editQuiz' q.id %}"
                                                            >Edit
                                                        </a>
                                                        <a
                                                            class="bg-cl-pink2 text-white px-3 py-2 me-3 mb-2 border-0 rounded-3 " href="{% url 'tutor:deleteQuiz' q.id %}"
                                                            
                                                            >Delete
                                                        </a>
                                                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <!-- Question  End 1 -->

                                            
                                            <!-- Submit/Cancel Button Start-->
                                            
                                            <!-- Submit/Cancel Button End-->
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        <div class=" block-createQuiz replaceContent2 ">
                                        
                                            <h5 class="fw-bold mb-4">Question</h5>
                                            <!-- Question  Start 1 -->
                                            <div class="quiz-qs1 mb-5">
                                                <div class="input-group mb-3">
                                                    <span
                                                        class="input-group-text bg-cl-pm text-white"
                                                        id="basic-addon1">Q</span>
                                                    <input type="text" class="form-control"
                                                        aria-label="Username"
                                                        aria-describedby="basic-addon1" name="question" {% if quiz %}value="{{quiz.question}}"{% endif %}>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span
                                                        class="input-group-text bg-cl-pm text-white"
                                                        id="basic-addon1">Position</span>
                                                    <input type="number" class="form-control"
                                                         name="qposition" {% if quiz %}value="{{quiz.quiz_position}}"{% endif %}>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-6 col-12">
                                                        <div class="input-group mb-3">
                                                            <span
                                                                class="input-group-text bg-cl-pm text-white"
                                                                id="basic-addon1">A</span>
                                                            <input type="text"
                                                                class="form-control"
                                                                aria-label="Username"
                                                                aria-describedby="basic-addon1" name="option1" {% if quiz %}value="{{quiz.option.0}}"{% endif %}>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-12">
                                                        <div class="input-group mb-3">
                                                            <span
                                                                class="input-group-text bg-cl-pm text-white"
                                                                id="basic-addon1">B</span>
                                                            <input type="text"
                                                                class="form-control"
                                                                aria-label="Username"
                                                                aria-describedby="basic-addon1" name="option2" {% if quiz %}value="{{quiz.option.1}}"{% endif %}>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-12">
                                                        <div class="input-group mb-3">
                                                            <span
                                                                class="input-group-text bg-cl-pm text-white"
                                                                id="basic-addon1">C</span>
                                                            <input type="text"
                                                                class="form-control"
                                                                aria-label="Username"
                                                                aria-describedby="basic-addon1" name="option3" {% if quiz %}value="{{quiz.option.2}}"{% endif %}>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-12">
                                                        <div class="input-group mb-3">
                                                            <span
                                                                class="input-group-text bg-cl-pm text-white"
                                                                id="basic-addon1">D</span>
                                                            <input type="text"
                                                                class="form-control"
                                                                aria-label="Username"
                                                                aria-describedby="basic-addon1" name="option4" {% if quiz %}value="{{quiz.option.3}}"{% endif %}>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-12">
                                                        <label for="exampleInputEmail1"
                                                            class="form-label">Select Correct
                                                            Answer</label>
                                                        <select class="form-select mb-3"
                                                            aria-label="Default select example" name="correct" >
                                                            <option value="0" {% if quiz.correct_answer == 0 %}selected{% endif %} >A</option>
                                                            <option value="1" {% if quiz.correct_answer == 1 %}selected{% endif %} >B</option>
                                                            <option value="2" {% if quiz.correct_answer == 2 %}selected{% endif %}>C</option>
                                                            <option value="3" {% if quiz.correct_answer == 3 %}selected{% endif %}>D</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Question  End 1 -->

                                            
                                            <!-- Submit/Cancel Button Start-->
                                            <div class="d-grid  d-md-block">
                                                <button
                                                    class="bg-cl-green text-white px-3 py-2 me-3 mb-2 border-0 rounded-3 " type="submit"
                                                    >{% if quiz %}Update{% else %}Add{% endif %}
                                            </button>                                                
                                                
                                            </div>
                                            <!-- Submit/Cancel Button End-->
                                        </div>
                                        
                                </div>
                                <!-- Add lesson end -->
                            </div>
                            <!-- Course add option end -->

                            <!-- Course dashbord start -->

                            <div class="col-xxl-5 col-xl-6 col-md-12 col-12 px5 mt-3">
                                <!-- <div> -->
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div>
                                            {% comment %} <h5 class="fw-bold">AWS Course</h5> {% endcomment %}
                                        </div>
                                        <div>
                                            <button class="bg-cl-pm color-white px-3 py-2 border-0 rounded-3"
                                                type="button" onclick="location.href='{% url 'tutor:addChapter' course.id %}'"><i class="fas fa-plus me-1"></i>Add Chapter</button>
                                        </div>
                                    </div>
                                    {% if chapters %}
                                    {% for chapter in chapters %}
                                    <div class="bg-cl-grey4 py-4 px5 mb-3 rounded-3">
                                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                                            <div>
                                                <div class="addLesson">
                                                    <a  class="cl-pm fw-bold" href="{% url 'tutor:editChapter' chapter.id %}">
                                                        {{chapter.chapter_name}}
                                                        <i class="fas fa-pencil-alt mx-1"></i>
                                                    </a>
                                                    <a  class="cl-pm fw-bold" href="{% url 'tutor:deleteChapter' chapter.id %}">
                                                        <i class="fas fa-trash-alt cursor me-3 cl-pm"></i>
                                                    </a>
                                                </div>
                                                <small class="color-grey"> <span>{{chapter.total_lesson}}</span> Lessons</small>
                                            </div>
                                            <div class="addLesson">
                                                <a  class="cl-pm" href="{% url 'tutor:addLesson' course.id chapter.id %}">
                                                    <i class="fas fa-plus me-1"></i>
                                                    Add New Lesson
                                                </a>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="tchAddCourseChapterList">
                                            {% for lesson in lessons %}
                                            {% if lesson.chapter_id.id == chapter.id %}
                                            <div
                                                class="d-flex justify-content-between align-items-center bg-white rounded-3 mb-2">
                                                <div class="d-flex align-items-center">
                                                    <span
                                                        class="d-flex align-items-center px-3 py-2 bg-cl-pm color-white rounded-3 me-2">L{{lesson.lesson_position}}</span>
                                                    {% if lesson.lesson_type == 'V' %}
                                                    <i
                                                        class="tchAddCourseChapterListIcon fas fa-video me-2 cl-pm p-2"></i>
                                                    {% elif lesson.lesson_type == 'I' %}
                                                    <i
                                                            class="tchAddCourseChapterListIcon far fa-folder me-2 cl-pm p-2"></i>
                                                    {% elif lesson.lesson_type == 'A' %}
                                                    <i
                                                            class="tchAddCourseChapterListIcon far fa-address-book me-2 cl-pm p-2"></i>
                                                    {% elif lesson.lesson_type == 'Q' %}
                                                    <i
                                                            class="tchAddCourseChapterListIcon far fa-file-pdf me-2 cl-pm p-2"></i>
                                                    {% endif %}
                                                    <small class="color-grey fw-bold">
                                                        {{lesson.lesson_title}}
                                                    </small>
                                                </div>
                                                <div class="d-flex">
                                                    <a class="cl-pm " href="{% url 'tutor:deleteLesson' lesson.id %}">
                                                    <i class="fas fa-trash-alt cursor me-3 cl-pm"></i>
                                                    </a>
                                                    <a  class="cl-pm " href="{% url 'tutor:editLesson' lesson.id %}">
                                                        <i class="fas fa-pencil-alt cursor me-3 cl-pm"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <div class="tchAddCourseNoChapter bg-cl-grey4 px-5 py-4 rounded-3">
                                        <p class="cl-pm fw-bold my-auto">No Chapter yet!!</p>
                                    </div>
                                    {% endif %}
                                <!-- </div> -->
                            </div>

                            <!-- Course dashbord end -->
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock main %}