{% extends 'app/header&footer.html' %}
{% load static %}
{% block main %}
{% include 'tutor/navbar.html' %}

 <section class="std-profile d-flex flex-wrap">
    {% include 'tutor/tutor_tab.html' %}
   
    
    <div class="tchRight">
            <!-- Teacher-Profile Profile -->
            <div class="tchProf-profile">
                <!-- breadcrumb -->
                <div class="profileBrd mt-3 mb-3">
                    <div class="sc-breadcrump d-flex align-items-center bg-white">
                        <div class="mt-2">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a class="cl-pm text-decoration-none"
                                            href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active fw-bold" aria-current="page">Profile
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
               
                <div class="profileContent mx-1  block-profileContent mb-5">

                    <h6 class="mb-5">Basic Information</h6>

                    <form class="frm" method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {% if uForm.non_field_errors  %}
                        {% for error in uForm.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %}
                        {% endif %}
                        
                        <div class="row mb-4 align-items-center">
                            <div class="col-md-2 profile-image mb-2">
                                <div class="">
                                    <img src="{% if user.profile_image %}{{user.profile_image.url}}{% else %}{% static 'app/Assets/Images/no_image.jpg' %}{% endif %}" alt="">
                                </div>
                            </div>

                            <div class="tchProfile-edit col-xxl-2 col-xl-3 col-lg-6 col-md-7 col-12 mt-2   ">
                                <div class="file-upload">
                                    <div class="image-upload-wrap">
                                        <small class="text-danger">{{uForm.profile_image.errors}}</small>
                                            {{uForm.profile_image}}
                                        <div class="drag-text">
                                            <p class="">
                                                <i class="far fa-edit"></i>
                                                Browse Photo
                                            </p>
                                        </div>
                                    </div>
                                    <div class="file-upload-content">
                                        <img class="file-upload-image" src="#" alt="your image" />
                                        <div class="image-title-wrap">
                                            <button type="button" onclick="removeUpload()" class="remove-image">Remove
                                                <span class="image-title">Uploaded Image</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Middle Content -->
                        <div class="row">
                            <!-- 6/6 -->
                            <div class="col-md-6 col-12">
                                <div class="row mb-4">
                                    <div class="col mb-4">
                                        <label for="exampleFormControlInput1"
                                            class="form-label color-grey fw-bold">UserName</label>
                                        <small class="text-danger">{{uForm.username.errors}}</small>
                                        {{uForm.username}}
                                    </div>
                                    <div class="col mb-4">
                                        <label for="exampleFormControlInput1" class="form-label color-grey fw-bold">First
                                            Name</label>
                                        <small class="text-danger">{{uForm.first_name.errors}}</small>
                                        {{uForm.first_name}}
                                    </div>
                                </div>


                                <div class="row mb-4">
                                    <div class="col mb-4">
                                        <label for="exampleFormControlInput1"
                                            class="form-label color-grey fw-bold">Last Name</label>
                                        <small class="text-danger">{{uForm.last_name.errors}}</small>
                                        {{uForm.last_name}}
                                    </div>
                                    <div class="col mb-4">
                                        <label for="exampleFormControlInput1" class="form-label color-grey fw-bold">Instructor Expertise</label>
                                        <select class="selectpicker w-100" multiple aria-label="Default select example"
                                            data-live-search="true" data-live-search-placeholder="Type Here..."
                                            title="Specialization" name="speciality" >
                                            <option value="Math" {% if 'Math' in tutor.speciality %}selected{% endif %}>Math</option>
                                            <option value="Physics" {% if 'Physics' in tutor.speciality %}selected{% endif %}>Physics</option>
                                            <option value="Chemistry" {% if 'Chemistry' in tutor.speciality %}selected{% endif %}>Chemistry</option>
                                            <option value="Biology" {% if 'Biology' in tutor.speciality %}selected{% endif %}>Biology</option>
                                            <option value="English" {% if 'English' in tutor.speciality %}selected{% endif %}>English</option>
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 ">
                                <div class="mb-4">
                                    <label for="exampleFormControlTextarea1"
                                        class="form-label color-grey fw-bold">Overview</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                                        style="height: 148px;" name="overview">{{tutor.instructor_intro}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <!-- 6/6 -->
                            <div class="col-md-6 col-12">
                                <div class="mb-4">
                                    <label for="exampleFormControlTextarea1"
                                        class="form-label color-grey fw-bold">Address</label>
                                    <small class="text-danger">{{uForm.address.errors}}</small>
                                    {{uForm.address}}
                                </div>
                            </div>
                            
                        </div>
                         <div >
                        
                        <button type="submit" class="btn btn3 bg-cl-pm"
                           >
                            <i class="fas fa-check me-1"></i>
                            Save Changes
                        </button>

                    </form>
                    <!-- Profile Content 2 end-->
                </div>
            </div>
        </div>
    </section>

{% endblock main %}