{% load static %}
<section class="desktopVersion">
    <div class="topHeader bg-cl-pm">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <div class="me-2 ">
                        <img class="iconSize test" src="{% static 'app/Assets/Images/Header/headphone.png' %}" alt=""> Support
                    </div>
                    <div class="mx-2">
                        <img class="iconSize" src="{% static 'app/Assets/Images/Header/mail.png' %}" alt=""> support@gmail.com
                    </div>
                </div>
                <div class="d-flex">
                    <div class="br">
                        Social:
                        <a href=""><i class="fab fa-facebook-f iconSize mx-2 color-white"></i></a>
                        <a href=""><i class="fab fa-twitter iconSize mx-2 color-white"></i></a>
                        <a href=""><i class="fab fa-youtube iconSize me-5 color-white"></i></a>
                    </div>
                    {% comment %} <div class="mx-2 languageChange">
                        <div class="change">
                            <input id="engtoggle" class="engtoggle engtoggle-round-flat" type="checkbox">
                            <label for="engtoggle"></label>
                            <span class="off">En</span>
                            <span class="on">Bn</span>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <!-- Middle Header -->
    
     
        
        <div class="middleHeader">
            <div class="container">
              <div class="d-flex justify-content-between">
                <div class="middleHeader-img">
                  <img src="{% static 'app/Assets/Images/Header/logo.svg' %}" onclick="window.location.href='{% url 'home' %}'" alt="">
                </div>
                
                <div class="middleHeader-content d-flex align-items-center">
                  <div class="middleHeader-contentIcon d-flex me-3">
                    <div class="dropdown">
                      <div
                        class="headerIcon cursor bg-cl-grey3 p-2 d-flex justify-content-center align-items-center rounded-3 me-3"
                        id="chatIcon" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-sms"></i> 
                      </div>
                      <div class="notification chat  bg-white px-3 py-4 dropdown-menu dropdown-menu-end"
                        aria-labelledby="chatIcon">
                        <div class="d-flex justify-content-between mb-4">
                          <div><small class="cl-pm fw-bold">Message</small></div>
                          <div><small class="cl-pm cursor">Mark as Unread</small></div>
                        </div>
                        {% for u in users %}
                        <div class="d-flex justify-content-between align-items-center cursor mb-4" onclick="location.href='{% url 'chat' u.username %}'">
                          <div class="chatImg w-10">
                            
                            <img src="{% if u.profile_image %}{{u.profile_image.url}}{% else %}{% static 'app/Assets/Images/no_image.jpg' %}{% endif %}" alt="">
                            
                          </div>
                          <div class="d-flex flex-column flex-wrap w-60">
                            <small class="color-grey2 fw-bold">{{u.username}}</small>
                            {% comment %} <small class="color-grey2"></small> {% endcomment %}
                          </div>
                          <div class="w-30">
                            {% comment %} <small class="color-grey2 fw-bold">08.59 am</small> {% endcomment %}
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="dropdown">
                      <div id="notiIcon" data-bs-toggle="dropdown" aria-expanded="false"
                        class="headerIcon cursor bg-cl-grey3 p-2  d-flex justify-content-center align-items-center rounded-3 me-3">
                        <i class="fas fa-bell"></i> 
                      </div>
                      <div class="notification bg-white px-3 py-4 dropdown-menu dropdown-menu-end" aria-labelledby="notiIcon">
                        <div class="mb-3">
                          <small class="cl-pm fw-bold">Notifications</small>
                        </div>
                        <div class="mb-3">
                          <small class="color-grey2">
                            <span class="cl-green fw-bold">Success!</span> You have registered successfully
                          </small>
                        </div>
                        <div class="mb-3">
                          <small class="color-grey2">
                            <span class="color-yellow2 fw-bold">Warning!</span> You have entered an invalid access
                          </small>
                        </div>
                        <div class="mb-3">
                          <small class="color-grey2">
                            <span class="color-red2 fw-bold">Danger!</span> Your registration is incomplete
                          </small>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <div class="middleHeader-contentDropdown d-flex ms-4">
                    <div class="middleHeader-contentDropImg">
                        
                        <img src="{% if user.profile_image %}{{user.profile_image.url}}{% else %}{% static 'app/Assets/Images/no_image.jpg' %}{% endif %}" alt="">
                        
                    </div>
                    <div class="dropdown middleHeaderDropdown">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{user.username}}
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end middleHeaderDropdownMenu mt-2 border-0"
                        aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item d-flex justify-content-end color-span" href="{% url 'stdprofile' %}">My
                            Account</a></li>
                        
                        <hr class="dropdown-divider color-span">
                        <li><a class="dropdown-item d-flex justify-content-end color-span" href="{% url 'logout' %}">Log
                            Out</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
   
    
</section>
<!-- Desktop version end -->


<!-- ==========================             mobile version start ============================= -->
<section class="mobileVersion">

    <!-- main Header -->
    <div class="mainHeader ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: white !important;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <div class="middleHeader-img">
                        <img src="{% static 'app/Assets/Images/Header/logo.svg' %}" alt="">
                    </div>
                </a>
                <div class="d-flex align-items-center">

                    <div class="header-image me-2">
                        
                        <img src="{% if user.profile_image %}{{user.profile_image.url}}{% else %}{% static 'app/Assets/Images/no_image.jpg' %}{% endif %}" alt="">
                        
                    </div>
                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-center cl-pm "></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse mt-5 px-4" id="navbarSupportedContent">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="dropdown">
                          <div
                            class="headerIcon cursor bg-cl-grey3 p-2 d-flex justify-content-center align-items-center rounded-3"
                            id="chatIcon" data-bs-toggle="dropdown" aria-expanded="false">
                            Message<i class="fas fa-sms ms-2 cl-pm"></i> 
                            {% comment %} <span
                              class="color-white d-flex justify-content-center align-items-center pt-1">7</span> {% endcomment %}
                          </div>
                          <div class="notification chat  bg-white px-3 py-4 dropdown-menu"
                            aria-labelledby="chatIcon">
                            <div class="d-flex justify-content-between mb-4">
                              <div><small class="cl-pm fw-bold">Message</small></div>
                              <div><small class="cl-pm cursor">Mark as Unread</small></div>
                            </div>
                            {% for u in users %}
                            <div class="d-flex justify-content-between align-items-center cursor mb-4">
                              <div class="chatImg w-10">
                                
                                <img src="{% if u.profile_image %}{{u.profile_image.url}}{% else %}{% static 'app/Assets/Images/no_image.jpg' %}{% endif %}" alt="">
                                
                              </div>
                              <div class="flex-wrap w-60">
                                <small class="color-grey2 fw-bold">{{u.username}}</small>
                              </div>
                              <div class="w-30">
                                {% comment %} <small class="color-grey2 fw-bold">08.59 am</small> {% endcomment %}
                              </div>
                            </div>
                           {% endfor %}
                          </div>
                        </div>
                        <div class="dropdown">
                          <div id="notiIcon" data-bs-toggle="dropdown" aria-expanded="false"
                            class="headerIcon cursor bg-cl-grey3 p-2  d-flex justify-content-center align-items-center rounded-3">
                            Notification<i class="fas fa-bell cl-pm ms-2"></i> 
                            {% comment %} <span
                              class="color-white d-flex justify-content-center align-items-center pt-1">7</span> {% endcomment %}
                          </div>
                          <div class="notification bg-white px-3 py-4 dropdown-menu dropdown-menu-end" aria-labelledby="notiIcon">
                            <div class="mb-3">
                              <small class="cl-pm fw-bold">Notifications</small>
                            </div>
                            <div class="mb-3">
                              <small class="color-grey2">
                                <span class="cl-green fw-bold">Success!</span> You have registered successfully
                              </small>
                            </div>
                            <div class="mb-3">
                              <small class="color-grey2">
                                <span class="color-yellow2 fw-bold">Warning!</span> You have entered an invalid access
                              </small>
                            </div>
                            <div class="mb-3">
                              <small class="color-grey2">
                                <span class="color-red2 fw-bold">Danger!</span> Your registration is incomplete
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                    
                    
                    <div class="login-hide justify-content-center w-100 mb-4">
                        <a type="button" class="btn  btn1 cl-pm w-100 mb-2 bg-cl-grey3" href="{% url 'stdprofile' %}">My Account</a>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn  btn2 mx-2 cl-pm" onclick="location.href='{% url 'logout'%}'">Logout</button>
                            
                        </div>
                    </div>
                    
                    <div class="nav-footer">
                        <small class="color-grey">Social :</small>
                        <div class="footer-icon mt-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item ">
                                        <a href="#"><i class="fab fa-facebook-f cl-pm"></i></a>
                                    </li>
                                    <li class="list-inline-item ">
                                        <a href="#"><i class="fab fa-twitter cl-pm"></i></a>
                                    </li>
                                    <li class="list-inline-item ">
                                        <a href="#"><i class="fab fa-youtube cl-pm"></i></a>
                                    </li>
                                </ul>
                                {% comment %} <div class="switch2">
                                    <div class="switch">
                                        <input id="language-toggle" class="check-toggle check-toggle-round-flat"
                                            type="checkbox">
                                        <label for="language-toggle"></label>
                                        <span class="off">En</span>
                                        <span class="on">Bn</span>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>