{% extends 'app/base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}Poralekha|Course Details{% endblock title %}
{% block content %}
    <div class="sc-breadcrump d-flex align-items-center">
        <div class="container mt-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="cl-pm text-decoration-none" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="cl-pm text-decoration-none" href="{% url 'stdprofile' %}">Profile</a></li>
                    <li class="breadcrumb-item"><a class="cl-pm text-decoration-none" href="{% url 'mocktest:mytests' %}">My Test
                            </a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{test.title}}</li>
                </ol>
            </nav>
        </div>
    </div>


    
    {% include 'app/std-profile-nav.html' %}
                <div class="col-lg-9 mt-4">
                    <div class="d-flex justify-content-between align-items-cener mt-3 mb-2">
                        <div>
                            <h4 class="fw-bold">{{test.title}}</h4>
                            <div class="">
                                <small class="color-grey me-4">{{test.total_participants}} Participants</small>
                                {% comment %} <small class="color-grey"><span class="cl-light-blue">Total Marks</span> </small> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <small class="">
                            <i class="fas fa-star {% if test.mocktest_rating > 0 %}color-yellow {% else %} color-grey {% endif %}"></i>
                            <i class="fas fa-star {% if test.mocktest_rating > 1 %}color-yellow {% else %} color-grey {% endif %}"></i>
                            <i class="fas fa-star {% if test.mocktest_rating > 2 %}color-yellow {% else %} color-grey {% endif %}"></i>
                            <i class="fas fa-star {% if test.mocktest_rating > 3 %}color-yellow {% else %} color-grey {% endif %}"></i>
                            <i class="fas fa-star {% if test.mocktest_rating > 4 %}color-yellow {% else %} color-grey {% endif %}"></i>
                        </small>
                        <span class="color-grey">{{test.no_of_ratings}}</span>
                    </div>
                    <div class="row mb-5 single-Course-mid-2">
                        <div class="col-lg-12">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-link active me-3" id="nav-home-tab" data-bs-toggle="tab"
                                        href="#content" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Description</a>
                                    <a class="nav-link me-3" id="nav-profile-tab" data-bs-toggle="tab" href="#review"
                                        role="tab" aria-controls="nav-profile" aria-selected="false">Review</a>
                                </div>
                            </nav>
                            <div class="tab-content mt-3" id="nav-tabContent">
                                <div class="tab-pane active show fade" id="content" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <div class="content mb-3">
                                        {{test.description|safe}}
                                        
                                    </div>
                                    <div class="row">
                                        <h4 class="fw-bold cl-pm">Sets</h4>
                                        <div class="col-lg-12">
                                            <div class="row">
                                                {% for ts in testset %}
                                                <div class="col-lg-3 col-md-4 col-6 mb-4 cursor">
                                                    <div class="bg-cl-grey4 px-3 py-3 rounded-3">
                                                        <h5 class="fw-bold">Set {{forloop.counter}}</h5>
                                                        <small class="cl-pm">{{ts.total_ques}} Questions</small>
                                                        <button type="button" class="btn btn3 bg-cl-pm w-100 btn-sm mt-2 start-test"
                                                            data-bs-toggle="modal" data-id="{{ts.id}}" data-mid="{{test.id}}" data-bs-target="#exampleModal">{% if ts.id in is_retake %}Retake{% else %}Start
                                                            Quiz{% endif %}
                                                        </button>
                                                    </div>
                                                </div>
                                               {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="review" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <div class="courseReview">
                                        {% for r in mtrating %}
                                        <div class="courseReviewSec bg-light-pink rounded-3 py-4 px-3 mb-2">
                                            <div class="courseReviewTop d-flex justify-content-between">
                                                <div class="courseReviewTopleft d-flex align-items-center">
                                                    <div class="courseReviewImg me-3">
                                                        <img src="{% if r.user.profile_image %}{{r.user.profile_image.url}}{% else %}{% static 'app/Assets/Images/no_image.jpg' %}{% endif %}" alt="">
                                                    </div>
                                                    <div class="courseReviewName">
                                                        <h6 class="fw-bold">{{r.user.first_name}} {{r.user.last_name}}</h6>
                                                        <small class="color-grey">{{r.date}}</small>
                                                    </div>
                                                </div>
                                                <div class="courseReviewTopRight">
                                                    <div class="courseReviewRate d-flex justify-content-en me-3 mb-2">
                                                        <i class="fas fa-star {% if r.stars > 0 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                        <i class="fas fa-star {% if r.stars > 1 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                        <i class="fas fa-star {% if r.stars > 2 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                        <i class="fas fa-star {% if r.stars > 3 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                        <i class="fas fa-star {% if r.stars > 4 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                        
                                                    </div>
                                                    {% comment %} <div class="courseReviewChatIcon d-flex justify-content-end px-3">
                                                        <i class="flaticon-chat-1 cl-pm"></i>
                                                        <small class="color-grey ms-2">8</small>
                                                    </div> {% endcomment %}
                                                </div>
                                            </div>
                                            <div class="courseReviewbottom mt-3">
                                                <p>
                                                   {{r.comment}}
                                                </p>
                                            </div>
                                        </div>
                                       {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mockTestModal">
                <div class="modal-content border-0">
                    <div class="modal-body d-flex">
                        <div class="mockTestModalLeft w-100">
                            <img src="{% static 'app/Assets/Images/mockTestModal.png' %}" alt="">
                        </div>
                        <div class="mockTestModalRight bg-cl-grey4 d-flex flex-column justify-content-center p-3 w-100">
                            <div class="mb-3">
                                <h4 class="cl-pm fw-bolder">Start with Exam Condition</h4>
                            </div>
                            <div class="mb-3">
                                <small class="color-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Molestias, libero iusto minus in nobis impedit lor</small>
                            </div>
                            <div class="cursor">

                                <form action="{% url 'mocktest:startTest' %}" >
                                    <input type="hidden" name="tid" id="tid" value="" />
                                    <input type="hidden" name="mid" id="mid" value="" />
                                    <button type="submit"
                                        class="bg-cl-pm border-0 rounded-3 py-2 px-4 color-white" >Start Test
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
   
{% endblock content %}
