 {% extends 'app/base.html' %}
  {% load static %}
  {% load mathfilters %}
  {% block title %}Poralekha|Account Settings{% endblock title %}
  {% block content %}

   <div class="sc-breadcrump d-flex align-items-center">
        <div class="container mt-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="cl-pm text-decoration-none" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Account Settings</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--bread crump end -->


{% include 'app/std-profile-nav.html' %}

                <!-- mt5 media query desktop version -->
                <div class="col-xl-9 col-lg-9 mtResponsive mb-5 ">
                                            
                    <div class="row mb-4">
                        <div class="col-xl-4 col-md-4 col-12 pass-hU phoneContent none-phNumber">
                        
                            <label for="inputEmail4" class="form-label fw-bold">Phone Number</label>
                            <p class="fw-bold m-0" ><a href="{% url 'change_phone' %}">Change</a></p>
                            <input type="text" class="form-control" id="inputEmail4" value="{{user.phone_number}}" readonly>
                        </div>
                        

                        <div class="col-xl-4 col-md-4 col-12 pass-hU emailContent none-email">
                            <label for="inputEmail4" class="form-label fw-bold">Email Address</label>
                            <p class="fw-bold m-0" ><a href="{% url 'change_email' %}">Change</a></p>
                            <input type="email" class="form-control" id="inputEmail4" value="{{user.email}}" readonly>
                        </div>
                        {% comment %} <div class="col-xl-4 col-md-4 col-12 pass-hU emailHideContent block-email">
                            <label for="inputEmail4" class="form-label  fw-bold">Email Address</label>
                            <small class="text-danger">{{uForm.email.errors}}</small>
                            {{uForm.email}}
                            <button class="btn btn3 bg-cl-pm mt-3" onclick="toggleChange('unchange','email')">Save
                                Changes</button>
                        </div> {% endcomment %}
                    </div>
                    

                     <h5 class="color-grey">Change Password</h5>
                    <form  method="POST" class="col mt-3">
                        {% csrf_token %}
                            
                            {% if form.non_field_errors  %}
                            {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                        <div class="col-xl-4 mb-2">
                            <label for="inputPassword4" class="form-label fw-bold">Current Password</label>
                            <div class="pass-hU">
                                <small class="text-danger">{{form.old_password.errors}}</small>{{form.old_password}}
                                {% comment %} <input type="password" class="form-control" id="inputPassword4" maxlength="11"> {% endcomment %}
                                <i class="toggle-password fas fa-eye"></i>
                            </div>
                        </div>
                        <div class="col-xl-4 mb-2">
                            <label for="inputPassword4" class="form-label fw-bold">New Password</label>
                            <div class="pass-hU">
                                <small class="text-danger">{{form.new_password_1.errors}}</small>{{form.new_password1}}
                                {% comment %} <input type="password" class="form-control" id="inputPassword4" maxlength="11"> {% endcomment %}
                                <i class="toggle-password fas fa-eye"></i>
                            </div>
                        </div>
                        <div class="col-xl-4 mb-2">
                            <label for="inputPassword4" class="form-label fw-bold">Confirm Password</label>
                            <div class="pass-hU">
                                <small class="text-danger">{{form.new_password2.errors}}</small>{{form.new_password2}}
                                {% comment %} <input type="password" class="form-control" id="inputPassword4" maxlength="11"> {% endcomment %}
                                <i class="toggle-password fas fa-eye"></i>
                            </div>
                        </div>
                        <div class="col-4 mt-4 mb-2">
                            <button type="submit" class="btn btn3 bg-cl-pm">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}