 {% extends 'app/base.html' %}
  {% load static %}
  {% load mathfilters %}
  {% block title %}Poralekha|My Courses{% endblock title %}
  {% block content %}

  <div class="sc-breadcrump d-flex align-items-center">
        <div class="container mt-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="cl-pm text-decoration-none" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Courses</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--bread crump end -->

{% include 'app/std-profile-nav.html' %}

                <!-- mt5 media query desktop version -->
                <div class="col-xl-9 col-lg-9 mtResponsive mb-5 ">
                    <div class="row">
                        {% for c in mycourses %}
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-3">
                            <div class="homeWhatsNewImg">
                                <div class="card card-height">
                                    <div class="card-img d-flex  justify-content-end">
                                        <img class="card-img-top " src="{{c.course.course_image.url}}"
                                            alt="Card image cap">
                                    </div>
                                    <a href="{% url 'course_playlist' c.course.id  %}">
                                        <div class="card-body card-body-height">
                                            <h6>{{c.course.course_title}}</h6>
                                            <div class="card-body-text">
                                                <div class="d-flex justify-content-between">
                                                    <div class="">
                                                        <div class="d-flex mt-3 align-items-center">
                                                            <i class="fas fa-book me-1 color-yellow"></i>
                                                            <small class="color-grey ">{{c.course.total_lesson}} Lesson</small>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="d-flex mt-3 align-items-center">
                                                            <small class="color-grey">{{c.course.course_category.category_name}}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Student Profile End -->
    {% endblock content%}