 {% extends 'app/base.html' %}
  {% load static %}
  {% load mathfilters %}
  {% block title %}Poralekha|All Courses{% endblock title %}
  {% block content %}
  
       <section class="mobileVersion">
    
                <!-- main filter -->
                <div class="mainFilter">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: white !important;">
                        <div class="container-fluid">
                            <div class="singleCtagoryRight1 d-flex flex-column mt-3 ps-4">
                                <div class="singleCtagoryRight1Heading cl-pm">
                                    <a href="{% url 'find_course' %}">
                                    <h4><span class="color-span">All Courses</span></h4>
                                    </a>
                                </div>
                                <div class="singleCtagoryRight1Catagory mt-3">
                                    <ul class="navbar-nav">
                                        <li class="nav-item ">
                                            <form action="{% url 'find_course' %}" method="GET">
                                            <select id="inputState" class="form-select color-span" name="perpage" onchange='this.form.submit()'>
                                                <option value="15" selected>15</option>
                                                <option value="30">30</option>
                                                <option value="45">45</option>
                                                <option value="60">60</option>
                                            </select>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mt-5 pe-3">
                                <button class="navbar-toggler filterTabToggle border-0 bg-cl-grey4 d-flex justify-content-center align-items-center" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fas fa-filter cl-pm"></i>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse mt-5 px-4" id="navbarSupportedContent1">
                                <form action="{% url 'find_course' %}">
                                    <div class="d-flex flex-column align-items-center">
                                    <div class="singleCtagoryLeft1 mt-5 mb-4 d-flex justify-content-center align-items-center">
                                        <input style="font-family:'Font Awesome 5 Free'; " class="" type="search"
                                            placeholder="&#61442 Search" aria-label="Search" name="search">
                                    </div>
                                    <div class="allCoursescheckbox mb-4 py-4 ps-3">
                                        {% for cat in categories %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{cat.id}}" id="flexCheckDefault" name="checkbox" >
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{cat.category_name}}
                                            </label>
                                        </div>
                                       {% endfor %} 
                                    </div>
                                    <div class="multiHandleRange">
                                        <div class="multiHandleInput">
                                            <h6 class="fw-bold ms-2">Price</h6>
                                            <div class="RangeSlider-track"></div>
                                            <input type="range" min="{{minp.course_price}}" max="{{maxp.course_price}}" value="{{minPrice}}" id="slider-1" oninput="slideOne()" name="minPrice">
                                            <input type="range" min="{{minp.course_price}}" max="{{maxp.course_price}}" value="{{maxPrice}}" id="slider-2" oninput="slideTwo()" name="maxPrice">
                                        </div>
                                        <div class="multiHandleValues mb-4">
                                            <span id="multiHandleRange1">
                                                {{minPrice}}
                                            </span>
                                            <span> &dash; </span>
                                            <span id="multiHandleRange2">
                                                {{maxPrice}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="singleCtagoryLeft3 mt-4 py-4 ps-3 ">
                                        <h6 class="fw-bold mb-3">Rating</h6>
                                        <div class="singleCtagoryLeft3Radio">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value='' name="flexRadioDefault"
                                                    id="flexRadioDefault2" checked>
                                                <label class="form-check-label color-yellow" for="flexRadioDefault2">
                                                    all
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value='2' name="flexRadioDefault"
                                                    id="flexRadioDefault2" >
                                                <label class="form-check-label color-yellow" for="flexRadioDefault2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value='3' name="flexRadioDefault"
                                                    id="flexRadioDefault2" >
                                                <label class="form-check-label color-yellow" for="flexRadioDefault2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value='4' name="flexRadioDefault"
                                                    id="flexRadioDefault2" >
                                                <label class="form-check-label color-yellow" for="flexRadioDefault2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value='5' name="flexRadioDefault"
                                                    id="flexRadioDefault2" >
                                                <label class="form-check-label color-yellow" for="flexRadioDefault2">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="singleCtagoryLeft4 mt-3">
                                        <button class="btn btn3 bg-cl-pm w-100" type="submit">Apply Filter</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </section>
            <!-- mobile version filter end -->
        
    <!-- header end -->

        <!------------all Course Breadcrumb-------------------->
        <div class="sc-breadcrump d-flex align-items-center">
            <div class="container mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="cl-pm text-decoration-none" href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Courses</li>
                    </ol>
                </nav>
            </div>
        </div>


    
    <section class="singleCtagory">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-3 filter d-flex flex-column mb-5">
                    <h4 class="color-span">Filter</h4>
                    <form action="{% url 'find_course' %}" method="GET">
                        <div class="singleCtagoryLeft1 mt-5 mb-4 d-flex justify-content-center align-items-center">
                            <input style="font-family:'Font Awesome 5 Free'; " class="" type="search"
                                placeholder="&#61442 Search" aria-label="Search" name="search">
                        </div>
                        <div class="allCoursescheckbox mb-4 py-4 ps-3">
                            {% for cat in categories %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{cat.id}}" id="flexCheckDefault" name="checkbox" >
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{cat.category_name}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="multiHandleRangeb">
                            <div class="multiHandleInputb">
                                <h6 class="fw-bold ms-2">Price</h6>
                                <div class="RangeSliderb-track"></div>
                                <input type="range" min="{{minp.course_price}}" max="{{maxp.course_price}}" value="{{minPrice}}" id="sliderb-1"
                                    oninput="slideOne1()" name="minPrice">
                                <input type="range" min="{{minp.course_price}}" max="{{maxp.course_price}}" value="{{maxPrice}}" id="sliderb-2"
                                    oninput="slideTwo1()" name="maxPrice">
                            </div>
                            <div class="multiHandleValuesb mb-4">
                                <span id="multiHandleRangeb1">
                                    {{minPrice}}
                                </span>
                                <span> &dash; </span>
                                <span id="multiHandleRangeb2">
                                    {{maxPrice}}
                                </span>
                            </div>
                        </div>
                        <div class="singleCtagoryLeft3 mt-4 py-4 ps-3 ">
                            <h6 class="fw-bold mb-3">Rating</h6>
                            <div class="singleCtagoryLeft3Radio">
                                
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="2" name="flexRadioDefault"
                                        id="flexRadioDefault2" >
                                    <label class="form-check-label color-yellow" for="flexRadioDefault2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value='3' name="flexRadioDefault"
                                        id="flexRadioDefault2" >
                                    <label class="form-check-label color-yellow" for="flexRadioDefault2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value='4' name="flexRadioDefault"
                                        id="flexRadioDefault2" >
                                    <label class="form-check-label color-yellow" for="flexRadioDefault2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value='5' name="flexRadioDefault"
                                        id="flexRadioDefault2" >
                                    <label class="form-check-label color-yellow" for="flexRadioDefault2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="" name="flexRadioDefault"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label color-yellow"  for="flexRadioDefault2">
                                        all
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="singleCtagoryLeft4 mt-4">
                            <button class="btn btn3 bg-cl-pm w-100" type="submit">Apply Filter</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-9">
                    <div class="singleCtagoryRight1 singleCatWeb d-flex justify-content-between">
                        <div class="singleCtagoryRight1Heading cl-pm">
                            <a href="{% url 'find_course' %}">
                            <h4><span class="color-span">All Courses</span></h4>
                            </a>
                        </div>
                        <div class="singleCtagoryRight1Catagory">
                            <ul class="navbar-nav">
                                <li class="nav-item ">
                                    <form action="{% url 'find_course' %}" method="GET" >
                                    <select id="inputState" class="form-select color-span" name="perpage" onchange='this.form.submit()'>
                                        <option value="15" >15</option>
                                        <option value="30" >30</option>
                                        <option value="45" >45</option>
                                        <option value="60" >60</option>
                                    </select>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="singleCtagoryRight2">
                        <div class="row mt-5">
                            {% if page_obj %}
                            {% for course in page_obj %}
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="homeWhatsNewImg">
                                    <div class="card card-height">
                                        <div class="card-img d-flex  justify-content-end">
                                            <img class="card-img-top " src="{{course.course_image.url}}"
                                                alt="Card image cap">
                                            <li class="bookmark click-icon">
                                                {% if user.is_authenticated %}
                                                {% if course in cwishlist %}
                                                <p> <i class="fas fa-heart toggle-box toggle-pressed add-cwishlist" data-product="{{course.id}}" ></i>

                                                {% else %}
                                                <p> <i class="fas fa-heart toggle-box add-cwishlist"  data-product="{{course.id}}"></i>
                                                {% endif %}
                                                {% else %}
                                                <p> <i class="fas fa-heart "  onclick="swal({text:'Please login for add to cart',buttons:true}).then((willDelete)=>{if(willDelete){location.href='{% url 'login' %}'}else{}});"></i>
                                                {% endif %}
                                            </li>
                                        </div>
                                        <a href="{% url 'course_details' course.id %}">
                                            <div class="card-body card-body-height">
                                                <h6>{{course.course_title}}</h6>
                                                <div class="card-body-text">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="">
                                                            <h5 class="color-yellow me-1">{{course.discounted_price}} Tk</h5>
                                                            <div class="d-flex align-items-center ">
                                                                <strike class="color-grey">{{course.course_price}}Tk </strike>
                                                                <small class="color-green mx-1">{{course.course_offer}}%</small>
                                                            </div>
                                                            <div class="d-flex mt-3 align-items-center">
                                                                <i class="far fa-eye mx-1 color-yellow"></i>
                                                                <small class="color-grey ">{{course.course_view}}</small>
                                                            </div>
                                                        </div>
                                                        <div class="">
                                                            <div class="d-flex align-items-center ">
                                                                <i class="fas fa-book me-1 color-yellow"></i>
                                                                <small class="color-grey">{{course.total_lesson}} lessons</small>
                                                            </div>
                                                            <div class="d-flex align-items-center mt-3">
                                                                <small class="me-1 ">
                                                                    <i class="fas fa-star {% if course.course_rating > 0 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                                    <i class="fas fa-star {% if course.course_rating > 1 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                                    <i class="fas fa-star {% if course.course_rating > 2 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                                    <i class="fas fa-star {% if course.course_rating > 3 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                                    <i class="fas fa-star {% if course.course_rating > 4 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                                </small>
                                                                <small class="color-grey">{{course.no_of_ratings}}</small>
                                                            </div>
                                                            <div class="d-flex mt-3 align-items-center">
                                                                <i class="far fa-clock me-1 color-yellow"></i>
                                                                <small class="color-grey">{{course.course_duration}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                           {% endfor %}
                           {% else %}
                           <h4>No Course Found</h4>
                           {% endif %}
                        </div>
                    </div>
                    <div class="singleCtagoryRight3">
                        
                    </div>
                </div>
                 <div class="pagination d-flex justify-content-center">
                    <ul class="d-flex flex-wrap align-items-center">
                        {% if page_obj.has_previous %}
                        <a  href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-double-left px-2 cl-pm"></i></a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if num == page_obj.number %}
                                <li class="px-3 py-1 mx-1 bg-cl-pm color-white rounded-3">{{num}}</li>
                            {% else %}
                                {% if num == 1 %}
                                <li class="px-3 py-1 mx-1 cl-pm rounded-3"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% else %}
                                    {% if num|add:"-3" <= page_obj.number and page_obj.number <= num|add:"3" %}
                                    <li class="px-3 py-1 mx-1 cl-pm rounded-3"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% elif num|divisibleby:"10" or num == page_obj.paginator.num_pages %}
                                    <li class="px-3 py-1 mx-1 cl-pm rounded-3"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-double-right px-2 cl-pm"></i></a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>



{% endblock content %}
