 {% extends 'app/base.html' %}
  {% load static %}
  {% load mathfilters %}
  {% block title %}Poralekha|My Books{% endblock title %}
  {% block content %}

    <div class="sc-breadcrump d-flex align-items-center">
        <div class="container mt-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="cl-pm text-decoration-none" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Books</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--bread crump end -->


{% include 'app/std-profile-nav.html' %}

            <!-- mt5 media query desktop version -->
            <div class="col-xl-9 col-lg-9 mtResponsive mb-5 ">
                    <div class="row">
                    {% for b in mybooks %}
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-3">
                            <div class="homeWhatsNewImg">
                                <div class="card card-height">
                                    <div class="card-img d-flex  justify-content-end">
                                        <img class="card-img-top " src="{{b.book.book_image.url}}"
                                            alt="Card image cap">
                                    </div>
                                    <a href="#">
                                        <div class="card-body card-body-height">
                                            <h6 class="cl-pm fw-bold">{{b.book.book_title}}</h6>
                                            <div class="card-body-text">
                                                <div class="d-flex justify-content-between">
                                                    <div class="">
                                                        <div class="d-flex mt-1 align-items-center">
                                                            <small class="cl-pm ">{{b.book.author_id.author_name}}</small>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="d-flex align-items-center mt-1">
                                                            <small class="me-1 ">
                                                                <i class="fas fa-star {% if b.book.book_review > 0 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                                <i class="fas fa-star {% if b.book.book_review > 1 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                                <i class="fas fa-star {% if b.book.book_review > 2 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                                <i class="fas fa-star {% if b.book.book_review > 3 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                                <i class="fas fa-star {% if b.book.book_review > 4 %}color-yellow {% else %} color-grey {% endif %}"></i>
                                                            </small>
                                                            <small class="color-grey">{{b.book.book_review}}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                      {% endfor %}  
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Student Profile End -->
    {% endblock content %}