{% extends 'app/header&footer.html' %}
{% load static %}
{% block title %}Poralekha|Password Reset Done{% endblock title %}
{% block main %}
    <section class="signUpCongratulation d-flex">
        <div class="signUpcongratulationsLeft d-flex align-items-center">
            <div
                class="signUpcongratulationLeftContent d-flex flex-column justify-content-center align-items-center color-white">
                <div class="signInUpLeftImg">
                    <img src="{% static 'app/Assets/Images/signUp/logo.png' %}" alt="">
                </div>
                <h4 class="fw-bold text-center px-2">One platform for Learning</h4>
                <small class="text-center px-5 mx-5">Gether Knowledge and your educational Guidline from just in one
                    place.</small>
            </div>
        </div>
        <div class="signUpCongratulationRight d-flex justify-content-center align-items-center w-100">
            <div class="container">
                <div class="signUpBack d-flex justify-content-between w-75">
                    <div>
                        <a href="{{request.META.HTTP_REFERER}}" class="cl-pm">
                            <i class="fa fa-arrow-left me-2"></i>
                            Back
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'home' %}" class="cl-pm">
                            Home
                            <i class="fas fa-home ms-2"></i>
                        </a>
                    </div>
                </div>
                <div
                    class="signUpcongratulationRightContent d-flex flex-column justify-content-center align-items-center">
                    <div class="SCRCI SCRCI2  d-flex justify-content-center align-items-center mb-3 pt-2">
                        <i class="flaticon-check cl-pm"></i>
                    </div>
                    <h4 class="cl-pm fw-bold">Success</h4>
                    <small class="color-span mb-4">Well Done! An Email has been sent with instructions to reset your password .<b>Check Your Email</b></small>
                    <button class="bg-cl-pm color-white" onclick="location.href='{% url 'home' %}'">Back to Home</button>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}