{% extends 'app/header&footer.html' %}
{% load static %}
{% block title %}Poralekha|Password Reset{% endblock title %}
{% block main %}
    <section class="signUpCongratulation d-flex">
        <div class="signUpcongratulationsLeft d-flex align-items-center">
            <div
                class="signUpcongratulationLeftContent d-flex flex-column justify-content-center align-items-center color-white">
                <div class="signInUpLeftImg">
                    <img src="{% static 'app/Assets/Images/signUp/logo.png' %}" alt="">
                </div>
                <h4 class="fw-bold text-center px-2">One platform for Learning</h4>
                <small class="text-center px-5 mx-5">Gether Knowledge and your educational Guidline from just in one
                    place.</small>
            </div>
        </div>
        <div class="signUpCongratulationRight  d-flex justify-content-center align-items-center w-100">
            <div class="container">
                <div class="signUpBack d-flex justify-content-between w-75">
                    <div>
                        <a href="{{request.META.HTTP_REFERER}}" class="cl-pm">
                            <i class="fa fa-arrow-left me-2"></i>
                            Back
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'home' %}" class="cl-pm">
                            Home
                            <i class="fas fa-home ms-2"></i>
                        </a>
                    </div>
                </div>
                <div
                    class="signUpcongratulationRightContent forgetPassContent d-flex flex-column justify-content-center align-items-start px-4">
                    <h4 class="cl-pm fw-bold">Forget your Password</h4>
                    <small class="color-span mb-4">An Email will be send to your registered email</small>
                    <form method="POST" novalidate>
                    {% csrf_token %}
                    
                    
                    
                        <div class="d-flex flex-column">
                            {% for fm in form %}
                            <small class="text-danger">{{fm.errors|striptags}}</small>{{fm}}</br>
                            {% endfor %}
                            <button type="submit" class="bg-cl-pm color-white btn1">Submit</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}