{% extends 'app/header&footer.html' %}
{% load static %}
{% block title %}Poralekha|Registration{% endblock title %}
{% block main %}
    <section class="signUpCongratulation d-flex">
        <div class="signUpcongratulationsLeft d-flex align-items-center">
            <div
                class="signUpcongratulationLeftContent d-flex flex-column justify-content-center align-items-center color-white">
                <div class="signInUpLeftImg my-2">
                    <img src="{% static 'app/Assets/Images/signUp/logo.png' %}" alt="">
                </div>
                <h4 class="fw-bold text-center px-2">One platform for Learning</h4>
                <small class="text-center px-5 mx-5">Gether Knowledge and your educational Guidline from just in one
                    place.</small>
            </div>
        </div>
        <div class="signUpCongratulationRight d-flex justify-content-center align-items-center w-100 mb-5">
            <div class="container">
                <div class="signUpBack d-flex justify-content-between w-75">
                    <div>
                        <a href="{{request.META.HTTP_REFERER}}" class="cl-pm">
                            <i class="fa fa-arrow-left me-2"></i>
                            Back
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'home' %}" class="cl-pm">
                            Home
                            <i class="fas fa-home ms-2"></i>
                        </a>
                    </div>
                </div>
                <div
                    class="signUpcongratulationRightContent signInContent d-flex flex-column justify-content-center px-5">
                    <h3 class="cl-pm fw-bold mb-2">Welcome Back</h3>
                    <small class="mb-5 color-span">Hello There, Sign Up to Continue</small>
                    <h4 class="cl-pm fw-bold mb-4">Sign Up</h4>
                    <form method="post" novalidate>
                    {% csrf_token %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %}
                        {% endif %}
                    
                        {% comment %} {% for fm in form %}
                        
                        <div class="col-md-6 col-md-4">
                            <small class="text-danger">{{fm.errors|striptags}}</small>{{fm}}
                        </div>
                        {% endfor %} {% endcomment %}
                    
                    
                    <div class="singUpInput">
                        {{form.first_name}}                        
                        {{form.last_name}}                        
                    </div>
                    <small class="text-danger">{{form.first_name.errors}}</small>
                    <small class="text-danger">{{form.last_name.errors}}</small>
                    
                    <div class="singUpInput">
                        {{form.username}}
                        {{form.email}}
                    </div>
                    <small class="text-danger">{{form.email.errors}}</small>
                    <small class="text-danger">{{form.username.errors}}</small>

                    <div class="singUpInput">
                        {{form.phone_number}}                       
                    </div>
                    <small class="text-danger">{{form.phone_number.errors}}</small>
                    
                    <div class="singUpInput">                        
                        {{form.password1}}                        
                        {{form.password2}}                        
                    </div>
                    <small class="text-danger">{{form.password1.errors}}</small>
                    <small class="text-danger">{{form.password2.errors}}</small>
                    <div class="signInInputSubmit d-flex align-items-center mt-4">
                        <button type="submit" class="bg-cl-pm color-white px-2 btn1">Sign Up</button>
                    </div>
                </form>
                   
                    </br>
                    <small class="signInOutLast">Already have an account? <a href="{% url 'login' %}" class="cl-pm fw-bold">Sign In</a></small>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}